name: InvisiThreat DevSecOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t invisithreat .

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: invisithreat
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
