name: InvisiThreat DevSecOps

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        shell: cmd
        run: docker build -t invisithreat .

      - name: Download and Install Trivy
        shell: cmd
        run: |
          curl -L https://github.com/aquasecurity/trivy/releases/download/v0.50.1/trivy_0.50.1_Windows-64bit.zip -o trivy.zip
          mkdir trivy_bin
          tar -xf trivy.zip -C trivy_bin
          del trivy.zip

      - name: Scan Docker image with Trivy
        shell: cmd
        run: |
          trivy_bin\trivy.exe image --severity CRITICAL,HIGH --exit-code 1 invisithreat
