name: InvisiThreat DevSecOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        shell: cmd
        run: docker build -t invisithreat .

      - name: Download and Install Trivy
        shell: powershell
        run: |
          $v = "0.50.1"
          $url = "https://github.com/aquasecurity/trivy/releases/download/v$v/trivy_${v}_Windows-64bit.zip"
          Invoke-WebRequest -Uri $url -OutFile trivy.zip
          Expand-Archive -Path trivy.zip -DestinationPath ./trivy_bin -Force
          Remove-Item trivy.zip

      - name: Scan Docker image with Trivy
        shell: powershell
        run: |
          ./trivy_bin/trivy.exe image --severity CRITICAL,HIGH --exit-code 1 invisithreat
